@model List<AuditoriskaMvc1.Models.Movie>

@{
    ViewBag.Title = "GetAllMovies";
}

<h2>GetAllMovies</h2>


<ul>
       @{ 
           int i = 0;
           foreach (var movie in Model)
           {
                <li>
                    <img src="@movie.ImageURL" style="max-width:200px" />
                    <span>@movie.Name, ratig: @movie.Rating</span>
                    <a href="/Movies/EditMovie/@i">Edit</a>
                    <a href="/Movies/DeleteMovie/@i">Delete</a>
                </li>
               i++;
           }
       }
</ul>
