@model List<AuditoriskaMvc1.Models.Client>

@{
    ViewBag.Title = "All Clients";
}

<h2>All Clients</h2>

<ul>
    @{
        int i = 0;
        foreach (var client in Model)
        {
            <li>
                <span>@client.Name, address: @client.Address</span>
                <a href="/Movies/EditMovie/@i">Edit</a>
                <a href="/Movies/DeleteMovie/@i">Delete</a>
            </li>
            i++;
        }
    }
</ul>